* {

}

body {
  margin: 0;
  padding: 0;
  background-color: #ccc;
}

.container {
  width: 1200px;
  margin: 20px auto;
  padding: 0 10px;
  column-count: 5;
  -moz-column-gap:40px; /* Firefox */
  -webkit-column-gap:40px; /* Safari and Chrome */
  column-gap:40px;
}
.container .anime {
  width: 100%;
  margin: 0 0 20px;
  padding: 10px;
  overflow: hidden;
  background-color: #ffffff;
  break-inside: avoid;
  border: 1px solid #ccc;
  
}
.anime img {
  width: 100%;
}

.anime .title-ch {
  
  color: #9b9b9b;
  margin: 10px 0 0;
  padding: 0;
  font-size: 1em;
  
}

.anime .title-jp {

  margin: 10px 0 0;
  padding: 0;
  
}

.anime .date {

  margin: 10px 0 0;
  padding: 0;
  font-size: 0.8em;
  color: #9b9b9b;
  
 
}

.anime .comment {

  margin: 10px 0 0;
  padding: 0;
  font-size: 1em;
  color: #3a3a3a;
  
}

.anime {
  padding: 0 0 10px;
  text-align:center;
}
@media screen and (max-width: 1200px) {
  .container {
    column-count: 3;
    width: calc(100% - 40px);
    box-sizing: border-box;
    padding: 20px 20px 20px 0;
  }
}
@media screen and (max-width: 768px) {
  .container {
    column-count: 2;
  }
}
@media screen and (max-width: 480px) {
  .container {
    column-count: 1;
  }
}